body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  .view {
    text-align: center;
  }
  
  .view-logo {
    animation: view-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .view-header {
    display:flex;
  }
  
  .view-title {
    font-size: 1.5rem;
  }
  
  .view-content {
    margin: 1rem auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    max-width: 350px;
  }
  .view-input-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .view-input-label {
    flex: 1 0;
    text-align: left;
    text-transform: uppercase;  
    min-width: 6rem;
  }
  .view-input {
    margin: 1rem;
    width: 250px;
    font-size: 1rem;
  }

  .view-actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 1rem;    
    justify-content: flex-end;
  }

  .view-button {    
    margin: 1rem;
    padding: 0.5rem;
    min-width: 150px;   
    background-color: transparent;
    border: 1px solid lightgray;
    cursor: pointer;        
  }  
  .view-button:hover {
    background-color: pink;
  }
  @keyframes view-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  